footer {
  bottom: 0;
  width: 100%;
}

footer .copyright-container {
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
